<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Trombin O'clock</title>
    <!-- Google Fonts pour une typographie moderne -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Trombin O'clock</h1>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/promos">Promos</a></li>
          <li><a href="/search">Recherche</a></li>
          <li><a href="/promos/create">Créer une promo</a></li>
          <li><a href="/admin/createStudent">Ajouter un étudiant</a></li>
        </ul>
      </nav>
    </header>
    <main>
