<%- include('./partials/header') %>

<h2>Il n'y a rien à voir ici</h2>
<img style="max-width: 100%;" src="https://i.giphy.com/pzxW4ltruVDLujSzb2.webp" alt="404 Not Found" />

<%- include('./partials/footer') %>
